<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /github/apppyme/apppyme/$1 [L] 
</IfModule>
<IfModule mod_rewrite.c>
	ErrorDocument 404 /github/apppyme/apppyme/index.php
</IfModule>